<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="_template :: head"></head>
<body>

	<header th:include="_template :: header"></header>
	
	<div class="card form">
	
		<h2 th:text="#{newtask}"></h2>
		
		<form class="form" th:action="@{/task}" method="post" th:object="${task}">
			<label class="hide" for="title">Título</label>
			<input
				th:classappend="${#fields.hasErrors('title')}? invalid"
				type="text" 
				id="title" 
				name="title" 
				th:field="*{title}" 
				th:placeholder="#{label.title}">
			<span th:errors="*{title}"></span>
			
			<label class="hide" for="description">Descrição</label>
			<textarea 
				id="description" 
				name="description" 
				th:field="*{description}"
				th:placeholder="#{label.description}">
			</textarea>
			<span th:errors="*{description}"></span>
					
			
			<label for="points">Pontos</label>
			<input 
				type="range" 
				name="points" 
				id="points" 
				min=10 
				max=500  
				th:field="*{points}"
				step="10"
				oninput="document.querySelector('#output-points').value=this.value"
			>
			<output id="output-points">10</output>
			<span th:errors="*{points}"></span>
			
			<div class="form-buttons">
				<a class="button" href="/task" th:text="#{button.cancel}"></a>
				<button class="primary" th:text="#{button.save}"></button>
			</div>
		</form>
	</div>
	

</body>
</html>