.card.form{
	max-width: 400px;
	
}

.form{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.form label.hide{
	display: none;
}

.form input[type=text],
.form input[type=email],
.form input[type=password],
.form textarea{
	background: transparent;
	border: none;
	margin-bottom: 1.5rem;
	border-bottom: 2px solid var(--secundary);
	outline: none;
	padding: .3rem .5rem;
	color: #FFF;
	font-family: Poppins;
	
}

.form textarea{
	resize: vertical;
}

.form input[type=text]:focus,
.form input[type=email]:focus,
.form input[type=password]:focus,
.form textarea:focus{
	border-bottom: 2px solid #159900;	
}

.form-buttons{
	margin-top: 1rem;	
	display: flex;
	justify-content: space-between;
}	

.form span{
	color:#8a0000;
}

.invalid{
	border-bottom: solid 2px #8a0000 !important;
}
	
	
	
	
	
	
	
	
	
	